@charset 'utf-8';
body {
  font-family: Raleway;
}

.wrapper {
  margin: 0 auto;
}

.btn:hover {
  color: #333;
}

.img {
  vertical-align: bottom;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.header__icon {
  color: #333;
  font-size: 36px;
}

.header__contact {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: 0.3s;
}

.main {
  margin-top: 70px;
}

.key-visual {
  background-color: #f2f2f2;
}

.key-visual__wrap {
  padding: 250px 0;
  text-align: center;
}

.key-visual__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.key-visual__sub-title {
  color: #c0c0c0;
  font-size: 30px;
}

.about {
  background-color: #74cfae;
}

.about__title {
  font-size: 24px;
  margin-bottom: 35px;
}

.about__text__block {
  color: #fff;
  text-align: center;
  word-break: keep-all;
}

.about__description {
  font-size: 20px;
  line-height: 28px;
}

.latest-work {
  background-color: #f2f2f2;
}

.latest-work__wrap {
  padding: 60px 0 70px;
}

.latest-work__title {
  color: #333;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
}


.latest-work__content {
  opacity: 0.7;
  text-decoration: none;
  transition: 0.3s;
}

.latest-work__content:hover {
  opacity: 1;
}

.guide {
  font-weight: lighter;
  text-align: center;
}

.guide__text {
  color: #333;
  line-height: 24px;
}

.guide__contact {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.skills {
  background-color: #4e4e4e;
}

.skills__wrap {
  padding: 70px 0 100px;
}

.skill__name {
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}

.skills__title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.nav {
  background-color: #f2f2f2;
}

.nav__icon {
  color: #74cfae;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  padding: 20px 0;
}

.nav__icon:hover {
  background-color: #fff;
 }

.footer {
  background: #74cfae;
 }

.footer__wrap {
  padding: 20px 0 25px;
}

.footer__text {
  color: #fff;
  text-align: right;
}

@media screen and (min-width: 1200px) {
.wrapper {
  width: 1100px;
}

.about__wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

.about__img {
  flex-basis: 40%;
  text-align: center;
}

.about__text__block {
  align-self: flex-start;
  flex-basis: 60%;
}

.latest-work__contents {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest-work__content:nth-child(n+4) {
  margin-top: 80px;
}

.guide {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.guide__text {
  width: 500px;
}

.guide__contact {
  margin-left: 90px;
}

.skills__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav__wrap {
  display: flex;
  justify-content: center;
  padding: 200px 0;
}

.nav__icon {
  width: 185px;
}
}

@media screen and (max-width: 1199px) and (min-width: 767px) {

.wrapper {
  width: 97%;
}

.about__wrap {
  padding: 50px 0 25px;
}

.about__img {
  text-align: center;
  margin-bottom: 20px;
}

.latest-work__contents {
  margin-bottom: 80px;
}

.latest-work__content {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.latest-work__content:nth-child(4n) {
  margin-top: 80px;
}

.guide__contact {
  display: inline-block;
  margin-top: 40px;
}

.skills__list {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills__list  figure {
  margin-top: 88px;
}

.skills__list  figure:first-child {
  margin-top: 0;
}

.nav__wrap {
  display: flex;
  justify-content: center;
  padding: 200px 0;
 }

.nav__icon {
  width: 185px;
 }
}

@media screen and (max-width: 766px) {
.wrapper {
  width: 97%;
}

.bar {
  height: 38px;
  position: relative;
}

.bar:before {
  border: 1px solid #ddd ;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ddd;
  content: "\f0c9";
  cursor: pointer;
  font-family: fontAwesome;
  font-size: 16px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.hidden {
  display: none;
}

.key-visual__wrap {
  padding: 160px 0 130px;
}

.key-visual__title {
  font-size: 80px;
}

.about__wrap {
  padding: 50px 0 25px;
}

.about__img {
  text-align: center;
  margin-bottom: 20px;
}

.latest-work__contents {
  margin-bottom: 80px;
}

.latest-work__content {
  display: block;
}

.latest-work__content img {
  width: 100%;
}

.latest-work__content:nth-child(4n) {
  margin-top: 80px;
}

.guide__contact {
  display: inline-block;
  margin-top: 40px;
}

.skills__list {
  text-align: center;
}

.skills__list figure {
  margin-top: 88px;
}

.skills__list figure:first-child {
  margin-top: 0;
}

.nav__wrap {
  padding: 50px 0;
}

.nav__icon {
  display: block;
  margin: 0 15px;
  padding: 15px 0;
}
}