@charset 'utf-8';
body {
  font-family: Raleway;
}

.wrapper {
  margin: 0 auto;
  width: 1100px;
}

.btn:hover {
  color: #333;
}

.main {
  margin-top: 70px;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.header__icon {
  color: #333;
  font-size: 36px;
}

.header__contact {
  background-color: #74cfae;
  color: #fff;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: 0.3s;
}

/*key-visual*/
.key-visual {
  background-color: #f2f2f2;
}

.key-visual__wrap {
  padding: 250px 0;
  text-align: center;
}

.key-visual__title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  margin-bottom: 20px;
}

.key-visual__sub-title {
  color: #c0c0c0;
  font-size: 30px;
}

/*artical*/
.about {
  background-color: #74cfae;
}

.about__wrap {
  display: flex;
  justify-content: flex-end;
  padding-top: 50px;
}

.about__img {
  flex-basis: 40%;
  font-size: 0;
  line-height: 0;
  text-align: center;
}

.about__text__block {
  align-self: flex-start;
  color: #fff;
  flex-basis: 60%;
  text-align: center;
  line-height: 24px;
  word-break: keep-all;
}

.about__title {
  font-size: 24px;
  margin-bottom: 35px;
}

.about__description {
  font-size: 20px;
}

/*figure*/
.latest-work {
  background-color: #f2f2f2;
}

.latest-work__wrap {
  padding: 60px 0 70px;
}

.latest-work__title {
  color: #333;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 40px;
  text-align: center;
}

.latest-work__contents {
  margin-bottom: 90px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest-work__content {
  margin-bottom: 80px;
  opacity: 0.7;
  transition: 0.3s;
}

.latest-work__content:nth-child(n+4):nth-child(-n+6) {
  margin-bottom: 0;
}

.latest-work__content:hover {
  opacity: 1;
}

.guide {
  font-weight: lighter;
  display: flex;
  justify-content: center;
}

.guide__text {
  color: #333;
  text-align: center;
  width: 500px;
}

.guide__contact {
  background-color: #74cfae;
  color: #fff;
  display: block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: 0.3s;
}

/*skill*/
.skills {
  background-color: #4e4e4e;
}

.skills__wrap {
  padding: 70px 0 100px;
}

.skills__title {
  color: #fff;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.skills__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.skill__name {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
 }

 /*nav*/
 .nav {
  background-color: #f2f2f2;
 }

 .nav__wrap {
  display: flex;
  justify-content: center;
  padding: 200px 0;
 }

 .nav__icon {
  color: #74cfae;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  padding: 20px 0;
  width: 185px;
 }

 .nav__icon:hover {
  background-color: white;
 }

 /*footer*/
 .footer {
  background: #74cfae;
 }

.footer__wrap {
  padding: 20px 0 25px;
}

.footer__text {
  color: #fff;
  text-align: right;
}